<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/transactions">Transactions</a></li>
        <li><a href="/docs">Docs</a></li>
      </ul>

      <ul>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>
    <main>
      <p>This is the home page</p>
    </main>
  </body>
</html>
